<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Titulo de la Canción:</strong>
    <%= @track.title %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= @track.album %>
  </p>

  <p>
    <strong>Artista:</strong>
    <%= @track.artist %>
  </p>

  <a class="waves-effect waves-light btn white-text blue" <%= link_to 'Editar Música', edit_track_path(@track) %></a>
  <a class="waves-effect waves-light btn red white-text" <%= link_to 'Regresar', tracks_path %></a>

</div>