<!DOCTYPE html>
<html>
<head>
  <title>Musikapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Musikapp</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to 'Músicas', tracks_path %></li>
      <li><%= link_to 'Listas de Reproducción', playlists_path %></li>
      <li><%= link_to 'API', api1_path %></li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
